@import url('https://fonts.googleapis.com/css2?family=Mulish&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.fa-telegram {
    font-size: 30px;
    color: rgb(0, 0, 255);
}

li {
    font-family: Mulish;
}